.react-flow__background {
  background-color: #F9F7F1;
}

.react-flow__controls-button {
  background: white !important;
  border: 2px solid black !important;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  border-radius: 0 !important;
  margin-bottom: 5px !important;
}

.react-flow__controls-button:hover {
  background: #f0f0f0 !important;
}
